<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Resume</title>
        <style type="text/css">
            body {
            font-family: 'Bebas Neue', cursive;
            background-color: rgb(211, 211, 211);

            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;

            }
            p {
            font-family: 'Ubuntu', sans-serif;
            }
        </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Dennis Chukwunta <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </nav>
    <p><a href="www.github.com/th3nn3ss">GiHub://th3nn3ss</a></p>
    <p><a href="www.linkedin.com/chuksmcdennis">Linkedin://chukwunta</a></p>
    <p>Email: chuksmcdennis@yahoo.com</p>
    <p>Website: chukwunta.xyz</p>
    <p>Mobile: +2349043934310</p>
    <br/>
    <br/>

    <div class="container pt-5 justify-content-left col-md-6">
        <h3>Work Experience</h3>
        <h4>Zuri Internship</h4>
        <p><strong>Backend (Django)</strong></p>
        <p>Job Responsibilities</p>
        <p>
            <ul>
                <li>Designed and implemented a Chat App using <strong>Socket.io</strong> and <strong>Django</strong>.</li>
                <li>Lead a backend team to build a <strong>REST API</strong> with <strong>Django</strong> for the <strong>Barter Trade</strong> app.</li>
                <li>Wrote technical articles on Python, Django, Flast and other web technologies.</li>

            </ul>
        </p>
            <h4>Matrix Internship</h4>
            <p><strong>Backend (Django)</strong></p>
            <p>Job Responsibilities</p>
            <p>
            <ul>
                <li>Improved user experience by implementing social media authentication and other features using the  <strong>Django Restframework</strong>.</li>
                <li>Developed an Iris Recognition system using frameworks like <strong>Numpy, Matplotlib, scikit-learn </strong> and <strong>Open-Cv</strong>.</li>
            </ul>
            </p>
                    <h4>Developer Students</h4>
                    <p><strong>Core Team Member</strong></p>
                    <p>Job Responsibilities</p>
                    <p>
                    <ul>
                        <li>Coordinated club activities like organising tech talks/meetups and managing club resources.</li>
                        <li>Developed <strong>REST APIs</strong> written in <strong>Node</strong> for the club's project and documented the features of the implementation.</li>
                    
                    </ul>
                    </p>
        <h3>PROJECTS</h3>
            <h4>IRIS RECOGNITION</h4>
            <p>An Iris recognition system using the CACIA1 and MMU2 database.Project can be found <a href="https://github.com/Th3nn3ss/python-iris-recognition"> here</a>.</p>
            <h4>ESCHOOLPEDIA</h4>
            <p> A school management web app for to help with long distance learning and maintain social distance during the pandemic. Project can be found <a href="https://eschoolpedia.com"> here</a>.</p>
            <h4>BARTER TRADE API</h4>
            <p> A web application for trading using the method of trade by barter. Bartering is the process of trading services or goods between two parties without using money in the transaction. Project can be found <a href="bartertradeapi.herokuapp.com"> here</a>.</p>
        <h3>SKILLS</h3>
        <p><strong>Languages:</strong> Python, BAsh, Javascript</p>
        <p><strong>We Development: </strong> Django, Wordpress, React, Javascript, HTML/CSS</p>
        <p><strong>Technology: </strong> Git, GitHub, Docker, Linux, AWS, Azure.</p>
    </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>