<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Resume</title>
        <style type="text/css">
            body {
            font-family: 'Bebas Neue', cursive;
            background-color: rgb(211, 211, 211);

            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;

            }
            p {
            font-family: 'Ubuntu', sans-serif;
            }
        </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Dennis Chukwunta <span class="sr-only">(current)</span></a>
                    </li>

                </ul>
            </div>
        </nav>

    <div class="container pt-5 justify-content-left col-md-6">
        <h3>Work Experience</h3>
        <h4>Zuri Internship</h4>
        <p><strong>Backend (Django)</strong></p>
        <p>Job Responsibilities</p>
        <p>
            <ul>
                <li>Designed and implemented a Chat App using <strong>Socket.io</strong> and <strong>Django</strong>.</li>
                <li>Lead a backend team to build a <strong>REST API</strong> with <strong>Django</strong> for the <strong>Barter Trade</strong> app.</li>
                <li>Wrote technical articles on Python, Django, Flast and other web technologies.</li>

            </ul>
        </p>
    </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>